<template>
    <div>
        <h1>Hello Spotify API</h1>

        <form class="form-inline" onsubmit="return false">
            <p>Who's your favourite Artist?</p>
            <div class="form-group">
                <input id="query" placeholder="e.g. Radiohead" class="form-control">
                <button id="searchButton" class="btn btn-success">Search</button>
            </div>
        </form>

        <table v-if="artists.length" class="table">
            <thead>
                <tr>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="item in artists">
                    <td>{{ item.name }}</td>
                    <td>
                        <button :x-artistId="item.id" class="btn btn-danger">Play</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script src="./spotifyapi.ts"></script>