@using SpotifyApi.NetCore
@using System.Diagnostics
@using Microsoft.Extensions.Configuration
@using System.Net.Http.Headers;

@inject HttpClient Http

@page "/"

<h1>Spotify Blazor</h1>

Demo for the SpotifyApi.NetCore library.

<button class="btn btn-primary" onclick="@GetArtist">Get Artist</button>

<p>Artist: @artistName</p>

@functions {
    string artistName = "";

    async Task GetArtist()
    {
        Http.BaseAddress = new Uri("https://api.spotify.com");
        var authHeader = new AuthenticationHeaderValue("Bearer", "BQCD6dby...SgNwttA");
        Http.DefaultRequestHeaders.Authorization = authHeader;
        var artist = await Http.GetJsonAsync<Artist>("/v1/artists/0TnOYISbd1XYRBk9myaseg");
        
        artistName = artist.Name;

        /*
        // HttpClient and AccountsService can be reused. 
        // Tokens are automatically cached and refreshed
        var accounts = new AccountsService(Http, config);

        // Get an artist by Spotify Artist Id
        var artists = new ArtistsApi(Http, accounts);
        artist = await artists.GetArtist("1tpXaFf2F55E7kVJON4j4G");
        artistName = artist.Name;
        Trace.WriteLine($"Artist.Name = {artistName}");
        */
    }
}
